---

---

<div id="outputContainer">
	<canvas id="targetCanvas"></canvas>
</div>

<style>
	#outputContainer {
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
	}
	#outputContainer.error::after {
		content: 'ERROR';
		position: absolute;
		padding: 1rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: red;
		z-index: 1;
	}

	#targetCanvas {
		object-fit: contain;
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
    background:
      url('https://www.wallpaperup.com/uploads/wallpapers/2014/01/08/220062/990d85912c318209b460d49b4f11285b.jpg');
    background-size: 'contain';
	}
</style>
